<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SegmentHeaderView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0FB308B51CEAFF6700574CE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FB308CE1CEAFF6800574CE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FB308D91CEAFF6800574CE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
